# Database
DATABASE_URL="postgresql://user_mandecoders:senhaS3creta@localhost:5432/db_mandecoders?schema=public"

# JWT Auth
JWT_SECRET="(4I2RLAA0ckUzF5v?ei*L%FVs3gv9(Ryu*n|SwK1&$i++:us6'"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="2$247HBm#@~;;99Q(DF£%BE0b;S~T]^eK|-{£Tp=CY:hb3q<}q"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:5371"

# SMTP Email Configuration
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=465
SMTP_SECURE="true"
SMTP_USER="seu-email@madecoders.com.br"
SMTP_PASSWORD="sua-senha-smtp"